* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}
.body__lock {
  height: 100%;
  overflow: hidden;
}
main {
  background-color: #06412C;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1440px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.header {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #202B24;
}
@media (max-width: 1440px) {
  .header {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 768px) {
  .header {
    background: rgba(43, 1, 50, 0.95);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    height: 100vh;
    position: fixed;
    z-index: 3;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    overflow-y: scroll;
  }
}
.header__mobile-nav--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header__content {
    padding-top: 35px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__logo {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  .header__logo {
    display: none;
  }
}
.header__nav {
  margin: 0;
  padding: 0;
  width: 272px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}
.header__nav li a {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  display: block;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .header__nav li a {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 768px) {
  .header__nav li a {
    text-transform: uppercase;
    font-size: 19px;
    line-height: 100%;
    margin-bottom: 46px;
    text-align: center;
  }
}
@media (max-width: 1440px) {
  .header__nav {
    width: 354px;
  }
}
@media (max-width: 1024px) {
  .header__nav {
    width: 296px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.nav__item--hidden {
  display: none;
}
@media (max-width: 768px) {
  .nav__item--hidden {
    display: block;
  }
}
.header__menu-closet {
  display: none;
}
@media (max-width: 768px) {
  .header__menu-closet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    outline: none;
    width: 50px;
    height: 25px;
  }
}
.header__menu-icon {
  display: none;
}
@media (max-width: 768px) {
  .header__menu-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33px;
    height: 2px;
    background-color: #fff;
  }
  .header__menu-icon::before {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 20px;
    height: 2px;
    top: 5px;
  }
}
@font-face {
  font-family: 'Palatino Linotype';
  src: url("../fonts/PalatinoLinotype-Roman.eot");
  src: local("☺"), url("../fonts/PalatinoLinotype-Roman.woff") format("woff"), url("../fonts/PalatinoLinotype-Roman.ttf") format("truetype"), url("../fonts/PalatinoLinotype-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Palatino Linotype';
  src: url("../fonts/PalatinoLinotype-Bold.eot");
  src: local("☺"), url("../fonts/PalatinoLinotype-Bold.woff") format("woff"), url("../fonts/PalatinoLinotype-Bold.ttf") format("truetype"), url("../fonts/PalatinoLinotype-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
.banner {
  background-image: url('../img/banner-bg1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 497px;
  margin-bottom: 136px;
}
@media (max-width: 1440px) {
  .banner {
    height: 403px;
    margin-bottom: 97px;
  }
}
@media (max-width: 1024px) {
  .banner {
    height: 300px;
    margin-bottom: 72px;
  }
}
@media (max-width: 768px) {
  .banner {
    background-image: url('../img/banner-bg2.png');
    background-size: auto auto;
    background-position: top;
    height: 200px;
    margin-bottom: 76px;
  }
}
@media (max-width: 500px) {
  .banner {
    margin-bottom: 52px;
    height: 153px;
  }
}
.banner__content {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .banner__content {
    height: 100%;
  }
}
.banner-arch1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1440px) {
  .banner-arch1 {
    display: none;
  }
}
.banner-arch2 {
  display: none;
}
@media (max-width: 1440px) {
  .banner-arch2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1024px) {
  .banner-arch2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 378.92px;
    height: 317.21px;
  }
}
@media (max-width: 768px) {
  .banner-arch2 {
    display: none;
  }
}
.banner-gold {
  display: none;
}
@media (max-width: 768px) {
  .banner-gold {
    display: block;
    position: relative;
    bottom: -95px;
  }
}
@media (max-width: 500px) {
  .banner-gold {
    bottom: -74px;
  }
}
.banner__text {
  position: absolute;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .banner__text {
    top: 12%;
  }
}
@media (max-width: 768px) {
  .banner__text {
    top: 7%;
  }
}
.banner__title {
  margin: 0;
  font-family: 'Palatino Linotype';
  font-size: 50px;
  line-height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
@media (max-width: 1440px) {
  .banner__title {
    font-size: 40px;
    line-height: 54px;
  }
}
@media (max-width: 1024px) {
  .banner__title {
    font-size: 32px;
    line-height: 43px;
  }
}
@media (max-width: 768px) {
  .banner__title {
    font-size: 45px;
    line-height: 45px;
  }
}
@media (max-width: 500px) {
  .banner__title {
    font-size: 30px;
    line-height: 40px;
  }
}
.banner__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner__subtitle span {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Palatino Linotype';
  font-weight: bold;
  font-size: 70px;
  line-height: 94px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1440px) {
  .banner__subtitle span {
    font-size: 60px;
    line-height: 80.95px;
  }
}
@media (max-width: 1024px) {
  .banner__subtitle span {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 42px;
    line-height: 57px;
  }
}
@media (max-width: 768px) {
  .banner__subtitle span {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (max-width: 500px) {
  .banner__subtitle span {
    margin: 0;
    font-size: 42px;
    line-height: 57px;
  }
}
.banner__tablet-subtitle {
  display: none;
}
@media (max-width: 768px) {
  .banner__tablet-subtitle {
    display: block;
    margin: 0;
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: bold;
    font-size: 18.5px;
    line-height: 25px;
    color: #FFFFFF;
  }
}
@media (max-width: 500px) {
  .banner__tablet-subtitle {
    font-size: 13px;
    line-height: 18px;
  }
}
.banner__ellipse {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}
@media (max-width: 1440px) {
  .banner__ellipse {
    width: 11px;
    height: 11px;
  }
}
@media (max-width: 1440px) {
  .banner__ellipse {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 768px) {
  .banner__ellipse {
    display: none;
  }
}
.header__mobile-menu-btn {
  display: none;
}
@media (max-width: 768px) {
  .header__mobile-menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    width: 45px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    outline: none;
    background-color: inherit;
  }
}
@media (max-width: 500px) {
  .header__mobile-menu-btn {
    width: 24.26px;
    height: 18.35px;
    top: 17px;
    right: 14px;
  }
}
.menu-icon-wrapper {
  display: none;
}
@media (max-width: 768px) {
  .menu-icon-wrapper {
    width: 45px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 500px) {
  .menu-icon-wrapper {
    width: 24.26px;
    height: 18.35px;
  }
}
.menu-icon {
  position: relative;
  width: 45px;
  height: 4px;
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease-in 0.2s;
  transition: background-color 0.2s ease-in 0.2s;
}
@media (max-width: 500px) {
  .menu-icon {
    width: 24.26px;
    height: 2.35px;
  }
}
.menu-icon::before {
  position: absolute;
  left: 0;
  top: -11px;
  content: '';
  width: 45px;
  height: 4px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
@media (max-width: 500px) {
  .menu-icon::before {
    width: 24.26px;
    height: 2.35px;
  }
}
.menu-icon::after {
  position: absolute;
  left: 0;
  top: 11px;
  content: '';
  width: 45px;
  height: 4px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
@media (max-width: 500px) {
  .menu-icon::after {
    width: 24.26px;
    height: 2.35px;
  }
}
.menu-icon.menu-icon-active {
  background-color: transparent;
}
.menu-icon.menu-icon-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
@font-face {
  font-family: 'Palatino Linotype';
  src: url("../fonts/PalatinoLinotype-Roman.eot");
  src: local("☺"), url("../fonts/PalatinoLinotype-Roman.woff") format("woff"), url("../fonts/PalatinoLinotype-Roman.ttf") format("truetype"), url("../fonts/PalatinoLinotype-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Palatino Linotype';
  src: url("../fonts/PalatinoLinotype-Bold.eot");
  src: local("☺"), url("../fonts/PalatinoLinotype-Bold.woff") format("woff"), url("../fonts/PalatinoLinotype-Bold.ttf") format("truetype"), url("../fonts/PalatinoLinotype-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
.cards {
  position: relative;
  z-index: 2;
  margin-bottom: 76px;
}
@media (max-width: 1440px) {
  .cards {
    margin-bottom: 83px;
  }
}
@media (max-width: 1024px) {
  .cards {
    margin-bottom: 56px;
  }
}
@media (max-width: 768px) {
  .cards {
    margin-bottom: 36px;
  }
}
.cards__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards__content::before {
  position: absolute;
  content: url('../img/cards-bg.png');
  left: 0px;
  top: 90px;
  z-index: -1;
}
@media (max-width: 768px) {
  .cards__content::before {
    display: none;
  }
}
.card__best {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  border: 2px solid #EFCD62;
  margin-bottom: 72px;
}
@media (max-width: 1440px) {
  .card__best {
    margin-bottom: 64px;
  }
}
@media (max-width: 1024px) {
  .card__best {
    margin-bottom: 47px;
  }
}
@media (max-width: 768px) {
  .card__best {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 560px) {
  .card__best {
    border: none;
  }
}
.card__best--margin {
  margin-top: 50px;
}
@media (max-width: 1440px) {
  .card__best--margin {
    margin-bottom: 70px;
  }
}
@media (max-width: 500px) {
  .card__best--margin {
    margin-top: 30px;
    margin-bottom: 35px;
  }
}
.best__text {
  margin: 0;
  padding-left: 38px;
  font-family: 'Palatino Linotype';
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
  text-align: left;
}
@media (max-width: 1440px) {
  .best__text {
    font-size: 28px;
    line-height: 38px;
  }
}
@media (max-width: 1090px) {
  .best__text {
    display: none;
  }
}
.best__text--mobile {
  display: none;
}
.best__text--mobile br {
  display: none;
}
@media (max-width: 500px) {
  .best__text--mobile br {
    display: block;
  }
}
@media (max-width: 1090px) {
  .best__text--mobile {
    display: block;
    margin: 0;
    padding-left: 38px;
    font-family: 'Palatino Linotype';
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .best__text--mobile {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 500px) {
  .best__text--mobile {
    padding-left: 0;
  }
}
.best__img1 {
  position: absolute;
  right: 1%;
  top: -130%;
}
@media (max-width: 1440px) {
  .best__img1 {
    width: 219px;
    height: 149px;
    right: 2%;
    top: -93%;
  }
}
@media (max-width: 1024px) {
  .best__img1 {
    width: 177px;
    height: 132px;
    right: 2%;
    top: -86%;
  }
}
@media (max-width: 768px) {
  .best__img1 {
    width: 118px;
    height: 94px;
    right: 5%;
    top: -76%;
  }
}
@media (max-width: 670px) {
  .best__img1 {
    right: 2%;
    top: -76%;
  }
}
@media (max-width: 500px) {
  .best__img1 {
    width: 101px;
    height: 78px;
    right: 2%;
    top: -21%;
  }
}
.best__img2 {
  position: absolute;
  right: -1%;
  top: -75%;
}
@media (max-width: 1440px) {
  .best__img2 {
    width: 285px;
    height: 135px;
    right: -1%;
    top: -60%;
  }
}
@media (max-width: 1024px) {
  .best__img2 {
    width: 217.5px;
    height: 118.5px;
    right: 0%;
    top: -60%;
  }
}
@media (max-width: 768px) {
  .best__img2 {
    width: 184px;
    height: 104.5px;
    right: 1%;
    top: -89%;
  }
}
@media (max-width: 670px) {
  .best__img2 {
    right: -3%;
    top: -89%;
  }
}
@media (max-width: 500px) {
  .best__img2 {
    width: 133px;
    height: 68px;
    right: 2%;
    top: -8%;
  }
}
.best__img3 {
  position: absolute;
  right: 2%;
  top: -136%;
}
@media (max-width: 1440px) {
  .best__img3 {
    width: 211px;
    height: 200px;
    right: 3%;
    top: -103%;
  }
}
@media (max-width: 1024px) {
  .best__img3 {
    width: 188px;
    height: 174px;
    right: 2%;
    top: -103%;
  }
}
@media (max-width: 768px) {
  .best__img3 {
    width: 148px;
    height: 146px;
    right: 3%;
    top: -117%;
  }
}
@media (max-width: 670px) {
  .best__img3 {
    right: 0%;
    top: -117%;
  }
}
@media (max-width: 500px) {
  .best__img3 {
    width: 116px;
    height: 93px;
    right: 2%;
    top: -21%;
  }
}
.best__img4 {
  position: absolute;
  right: 3%;
  top: -136%;
}
@media (max-width: 1440px) {
  .best__img4 {
    width: 208px;
    height: 202px;
    right: 4%;
    top: -119%;
  }
}
@media (max-width: 1024px) {
  .best__img4 {
    width: 170px;
    height: 172px;
    right: 2%;
    top: -114%;
  }
}
@media (max-width: 768px) {
  .best__img4 {
    width: 144px;
    height: 143px;
    right: 3%;
    top: -114%;
  }
}
@media (max-width: 670px) {
  .best__img4 {
    right: 0%;
    top: -114%;
  }
}
@media (max-width: 500px) {
  .best__img4 {
    width: 121px;
    height: 108px;
    right: 2%;
    top: -34%;
  }
}
.card__wrapper {
  width: 100%;
  margin-bottom: 51px;
}
.card__wrapper:last-child {
  margin-bottom: 0;
}
@media (max-width: 1440px) {
  .card__wrapper {
    margin-bottom: 42px;
  }
}
@media (max-width: 1024px) {
  .card__wrapper {
    margin-bottom: 26px;
  }
}
@media (max-width: 768px) {
  .card__wrapper {
    margin-bottom: 32px;
  }
}
.card {
  padding-right: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: 118px;
}
@media (max-width: 1440px) {
  .card {
    height: 112px;
  }
}
@media (max-width: 1024px) {
  .card {
    height: 80px;
  }
}
@media (max-width: 768px) {
  .card {
    height: 121px;
    padding-right: 14px;
  }
}
@media (max-width: 560px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 0;
    padding-bottom: 25px;
  }
}
@media (max-width: 400px) {
  .card {
    padding-bottom: 15px;
  }
}
.card__img-wrap {
  padding-left: 38px;
  padding-right: 28px;
  height: 100%;
  width: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1440px) {
  .card__img-wrap {
    width: 243px;
  }
}
@media (max-width: 1024px) {
  .card__img-wrap {
    width: 168px;
  }
}
@media (max-width: 768px) {
  .card__img-wrap {
    width: 148px;
    padding-left: 17px;
    padding-right: 17px;
  }
}
@media (max-width: 560px) {
  .card__img-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    height: 94px;
    padding-top: 5px;
    padding-bottom: 13px;
  }
}
@media (max-width: 400px) {
  .card__img-wrap {
    height: 72px;
  }
}
.card__img-wrap--pink {
  background-color: #D7188A;
}
.card__img-wrap--purple {
  background-color: #710B81;
}
.card__img-main {
  width: 100%;
}
@media (max-width: 560px) {
  .card__img-main {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 560px) {
  .card__desc {
    text-align: center;
    margin-bottom: 19px;
  }
}
.card__desc-top {
  margin: 0;
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
  color: #494949;
}
@media (max-width: 1440px) {
  .card__desc-top {
    font-size: 25px;
    line-height: 29px;
  }
}
@media (max-width: 1024px) {
  .card__desc-top {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 768px) {
  .card__desc-top {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (max-width: 615px) {
  .card__desc-top {
    font-size: 17px;
    line-height: 20px;
  }
}
@media (max-width: 560px) {
  .card__desc-top {
    font-size: 35px;
    line-height: 41px;
  }
}
@media (max-width: 400px) {
  .card__desc-top {
    font-size: 25px;
    line-height: 29px;
  }
}
.card__desc-sub {
  margin: 0;
  font-weight: 500;
  font-size: 27px;
  line-height: 32px;
  color: #494949;
}
@media (max-width: 1440px) {
  .card__desc-sub {
    font-size: 27px;
    line-height: 31px;
  }
}
@media (max-width: 1024px) {
  .card__desc-sub {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 768px) {
  .card__desc-sub {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (max-width: 615px) {
  .card__desc-sub {
    font-size: 17px;
    line-height: 20px;
  }
}
@media (max-width: 560px) {
  .card__desc-sub {
    font-size: 35px;
    line-height: 41px;
  }
}
@media (max-width: 400px) {
  .card__desc-sub {
    font-size: 25px;
    line-height: 29px;
  }
}
.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__rating:nth-last-child(1) {
  display: none;
}
@media (max-width: 560px) {
  .card__rating:nth-last-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 560px) {
  .card__rating:nth-last-child(2) {
    display: none;
  }
}
.rating__bigstar {
  margin-right: 10px;
}
@media (max-width: 1440px) {
  .rating__bigstar {
    Width: 57px;
    Height: 55px;
  }
}
@media (max-width: 1024px) {
  .rating__bigstar {
    Width: 32px;
    Height: 30px;
  }
}
@media (max-width: 768px) {
  .rating__bigstar {
    Width: 28px;
    Height: 27px;
    margin-right: 7px;
  }
}
@media (max-width: 615px) {
  .rating__bigstar {
    Width: 23px;
    Height: 21px;
    margin-right: 5px;
  }
}
@media (max-width: 560px) {
  .rating__bigstar {
    Width: 49px;
    Height: 47px;
    margin-right: 10px;
  }
}
@media (max-width: 400px) {
  .rating__bigstar {
    Width: 28px;
    Height: 26px;
    margin-right: 7px;
  }
}
.rating__value {
  font-weight: normal;
  font-size: 70px;
  line-height: 82px;
}
@media (max-width: 560px) {
  .rating__value:nth-last-child(1) {
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
  }
}
@media (max-width: 400px) {
  .rating__value:nth-last-child(1) {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 1440px) {
  .rating__value {
    font-size: 68px;
    line-height: 80px;
  }
}
@media (max-width: 1024px) {
  .rating__value {
    font-size: 50px;
    line-height: 59px;
  }
}
@media (max-width: 768px) {
  .rating__value {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 615px) {
  .rating__value {
    font-size: 35px;
    line-height: 35px;
  }
}
.rating__value--purple {
  color: #710B81;
}
.rating__value--pink {
  color: #D7188A;
}
.card__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .card__links {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 670px) {
  .card__links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.card__main-link {
  margin: 0;
  margin-bottom: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 18px;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: none;
  background: linear-gradient(89.14deg, #09ae2d -5.78%, #087d30 99.27%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.card__main-link br {
  display: none;
}
@media (max-width: 670px) {
  .card__main-link br {
    display: block;
  }
}
@media (max-width: 560px) {
  .card__main-link br {
    display: none;
  }
}
.card__main-link:hover {
  background: linear-gradient(89.14deg, #0ad035 -5.78%, #039836 99.27%);
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.card__main-link:active {
  background: linear-gradient(89.14deg, #09ae2d -5.78%, #087d30 99.27%);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1440px) {
  .card__main-link {
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 26px;
    padding-right: 16px;
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 1024px) {
  .card__main-link {
    margin-bottom: 7px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 12px;
    font-size: 17px;
    line-height: 20px;
  }
}
@media (max-width: 768px) {
  .card__main-link {
    padding: 10px 16px;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 11px;
  }
}
@media (max-width: 670px) {
  .card__main-link {
    padding: 6px 12px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}
@media (max-width: 560px) {
  .card__main-link {
    padding: 10px 21px;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 19px;
  }
}
@media (max-width: 400px) {
  .card__main-link {
    padding: 12px 20px;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 14px;
  }
}
.card__add-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .card__add-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 17px;
    background-color: #D7188A;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  .card__add-block:hover {
    -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 670px) {
  .card__add-block {
    padding: 5px 13px;
  }
}
@media (max-width: 560px) {
  .card__add-block {
    padding: 12px 23px;
  }
}
@media (max-width: 400px) {
  .card__add-block {
    padding: 9px 17px;
  }
}
@media (max-width: 560px) {
  .card__add-block--purple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #710B81;
  }
}
@media (max-width: 560px) {
  .card__add-block--pink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #D7188A;
  }
}
.card__add-block-btn {
  margin-right: 3px;
  font-size: 18px;
  line-height: 21px;
  color: #D7188A;
}
@media (max-width: 768px) {
  .card__add-block-btn {
    color: #fff;
  }
}
@media (max-width: 560px) {
  .card__add-block-btn {
    font-size: 25px;
    line-height: 29px;
  }
}
@media (max-width: 400px) {
  .card__add-block-btn {
    font-size: 19px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .card__arrow {
    display: none;
  }
}
.card__arrow--white {
  display: none;
}
@media (max-width: 768px) {
  .card__arrow--white {
    display: block;
  }
}
.card__arrow-active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.card__add-wrap {
  padding: 24px 36px 24px 36px;
  margin-top: 4px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1440px) {
  .card__add-wrap {
    padding: 22px 36px 22px 27px;
  }
}
@media (max-width: 1024px) {
  .card__add-wrap {
    padding: 16px 24px;
  }
}
@media (max-width: 768px) {
  .card__add-wrap {
    padding: 20px 17px;
  }
}
@media (max-width: 560px) {
  .card__add-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 21px 18px 15px;
  }
}
.add__mobile-wrap {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 560px) {
  .add__mobile-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
}
.hidden {
  display: none;
}
.add__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 560px) {
  .add__left {
    margin-bottom: 20px;
  }
}
.left__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
@media (max-width: 1440px) {
  .left__item {
    margin-bottom: 1.5em;
  }
}
@media (max-width: 768px) {
  .left__item {
    margin-bottom: 1.2em;
  }
}
@media (max-width: 560px) {
  .left__item {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.left__item img {
  margin-right: 14px;
}
@media (max-width: 1440px) {
  .left__item img {
    margin-right: 17px;
  }
}
@media (max-width: 1024px) {
  .left__item img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 768px) {
  .left__item img {
    margin-right: 9px;
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 560px) {
  .left__item img {
    width: 36px;
    height: 35px;
  }
}
@media (max-width: 400px) {
  .left__item img {
    width: 16px;
    height: 16px;
  }
}
.left__item p {
  margin: 0;
  font-size: 20px;
  line-height: 100%;
  color: #5A5D61;
}
@media (max-width: 1440px) {
  .left__item p {
    font-size: 21px;
    line-height: 21px;
  }
}
@media (max-width: 1024px) {
  .left__item p {
    font-size: 16.5px;
    line-height: 100%;
  }
}
@media (max-width: 768px) {
  .left__item p {
    font-size: 16px;
    line-height: 100%;
  }
}
@media (max-width: 640px) {
  .left__item p {
    font-size: 2vw;
    line-height: 100%;
  }
}
@media (max-width: 560px) {
  .left__item p {
    font-size: 25px;
    line-height: 100%;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .left__item p {
    font-size: 16px;
    line-height: 100%;
  }
}
.left__item:last-child {
  margin-bottom: 0;
}
.add__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .add__mid img {
    width: 22px;
    height: 18px;
  }
}
@media (max-width: 768px) {
  .add__mid img {
    width: 20px;
    height: 15px;
  }
}
@media (max-width: 560px) {
  .add__mid img {
    width: 32px;
    height: 24px;
  }
}
@media (max-width: 400px) {
  .add__mid img {
    width: 20px;
    height: 15px;
  }
}
.add__mid p {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: #5F0AB5;
}
@media (max-width: 1440px) {
  .add__mid p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .add__mid p {
    font-size: 15.5px;
    line-height: 100%;
  }
}
@media (max-width: 768px) {
  .add__mid p {
    font-size: 13.5px;
    line-height: 100%;
  }
}
@media (max-width: 640px) {
  .add__mid p {
    font-size: 2vw;
    line-height: 100%;
  }
}
@media (max-width: 560px) {
  .add__mid p {
    font-size: 20px;
    line-height: 100%;
  }
}
@media (max-width: 400px) {
  .add__mid p {
    font-size: 13.5px;
    line-height: 100%;
  }
}
@media (max-width: 560px) {
  .add__mid {
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .add__mid {
    margin-bottom: 16px;
  }
}
.add__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.add__value p {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 100%;
  color: #5F0AB5;
}
@media (max-width: 1440px) {
  .add__value p {
    font-size: 48px;
    line-height: 48px;
  }
}
@media (max-width: 1024px) {
  .add__value p {
    font-size: 35px;
    line-height: 100%;
  }
}
@media (max-width: 768px) {
  .add__value p {
    font-size: 32px;
    line-height: 100%;
  }
}
@media (max-width: 640px) {
  .add__value p {
    font-size: 4vw;
    line-height: 100%;
  }
}
@media (max-width: 560px) {
  .add__value p {
    font-size: 50px;
    line-height: 100%;
  }
}
@media (max-width: 400px) {
  .add__value p {
    font-size: 32px;
    line-height: 100%;
  }
}
.add__link {
  padding: 10px 46px;
  font-size: 25px;
  line-height: 100%;
  text-decoration: none;
  color: #FFFFFF;
  background: linear-gradient(89.14deg, #dd2737 -5.78%, #bd27d6 99.27%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.add__link:hover {
  background: linear-gradient(89.14deg, #f82b3d -5.78%, #d632f1 99.27%);
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.add__link:active {
  background: linear-gradient(89.14deg, #dd2737 -5.78%, #bd27d6 99.27%);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1440px) {
  .add__link {
    padding: 11px 41px;
  }
}
@media (max-width: 1440px) {
  .add__link {
    padding: 6px 25px;
    font-size: 18px;
    line-height: 100%;
  }
}
@media (max-width: 768px) {
  .add__link {
    padding: 11px 17px;
    font-size: 19px;
    line-height: 100%;
  }
}
@media (max-width: 640px) {
  .add__link {
    padding: 7px 10px;
    font-size: 3vw;
    line-height: 100%;
  }
}
@media (max-width: 560px) {
  .add__link {
    padding: 14px 33px;
    font-size: 28px;
    line-height: 100%;
  }
}
@media (max-width: 400px) {
  .add__link {
    padding: 11px 18px;
    font-size: 19px;
    line-height: 100%;
  }
}
.add__right img {
  display: block;
  margin: 0;
}
@media (max-width: 1440px) {
  .add__right {
    width: 264px;
    height: 189px;
  }
}
@media (max-width: 1024px) {
  .add__right {
    width: 183px;
    height: 131px;
  }
}
@media (max-width: 768px) {
  .add__right {
    width: 162px;
    height: 113px;
  }
}
@media (max-width: 560px) {
  .add__right {
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    height: auto;
  }
}
.add__arrow {
  display: none;
}
@media (max-width: 500px) {
  .add__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.desc {
  padding-bottom: 76px;
}
@media (max-width: 1440px) {
  .desc {
    padding-bottom: 100px;
  }
}
@media (max-width: 500px) {
  .desc {
    padding-bottom: 60px;
  }
}
.desc__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.desc__title {
  margin: 0;
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .desc__title {
    font-size: 22px;
    line-height: 26px;
  }
}
@media (max-width: 768px) {
  .desc__title {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 500px) {
  .desc__title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 0.7em;
  }
}
.desc__item {
  margin-bottom: 2em;
}
.desc__item:last-child {
  margin-bottom: 0;
}
@media (max-width: 500px) {
  .desc__item {
    margin-bottom: 0.7em;
  }
}
.item__title {
  margin: 0;
  margin-bottom: 1em;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .item__title {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 768px) {
  .item__title {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 500px) {
  .item__title {
    text-align: center;
    margin-bottom: 0.7em;
  }
}
.item__par {
  margin: 0;
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.item__par:last-child {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .item__par {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 768px) {
  .item__par {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 500px) {
  .item__par {
    text-align: center;
    margin-bottom: 0.7em;
  }
}
.footer {
  position: relative;
  padding-top: 41px;
  padding-bottom: 25px;
  background-color: #202B24;
}
@media (max-width: 1440px) {
  .footer {
    padding-top: 46px;
    padding-bottom: 60px;
  }
}
@media (max-width: 1024px) {
  .footer {
    padding-top: 31px;
    padding-bottom: 71px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-top: 45px;
    padding-bottom: 36px;
  }
}
@media (max-width: 500px) {
  .footer {
    padding-top: 40px;
  }
}
.footer__content {
  position: relative;
  z-index: 2;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
}
.footer__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__nav li a {
  margin-bottom: 8px;
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E5E5E5;
}
@media (max-width: 1024px) {
  .footer__nav li a {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .footer__nav li a {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 500px) {
  .footer__nav li a {
    font-size: 12px;
    line-height: 14px;
  }
}
.footer__desc {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .footer__desc br {
    display: none;
  }
}
@media (max-width: 1024px) {
  .footer__desc {
    width: 318px;
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .footer__desc {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 500px) {
  .footer__desc {
    width: 121px;
    font-size: 12px;
    line-height: 14px;
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 500px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.footer__copyright {
  margin: 0;
  margin-right: 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.footer__copyright br {
  display: none;
}
@media (max-width: 1024px) {
  .footer__copyright br {
    display: block;
  }
}
@media (max-width: 500px) {
  .footer__copyright br {
    display: none;
  }
}
@media (max-width: 1024px) {
  .footer__copyright {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16px;
  }
}
.footer__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 500px) {
  .footer__images {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
  }
}
.images__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.images__item {
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.images__item p {
  margin: 0;
  margin-top: 6px;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  text-align: center;
}
.images__item:last-child {
  margin-right: 18px;
}
@media (max-width: 1024px) {
  .images__item:last-child {
    margin-right: 13px;
  }
}
@media (max-width: 1440px) {
  .images__item {
    margin-right: 30px;
  }
}
@media (max-width: 1024px) {
  .images__item {
    margin-right: 14px;
  }
}
@media (max-width: 1024px) {
  #img__item1 {
    width: 46px;
    height: 46.67px;
  }
}
@media (max-width: 1024px) {
  #img__item2 {
    width: 48px;
    height: 53px;
  }
}
.images__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.images__right img {
  margin-bottom: 8px;
  width: 100%;
}
.images__right img:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */