* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.body__lock {
    height: 100%;
    overflow: hidden;
}

main {
    background-color: #06412C;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 1440px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width: 1024px) {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (max-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}